body {
    background-color: #282a36;
    color: #ffffff;
    text-align: justify;
}

h1 {
    font-size: 2.5em;
    color: #50fa7b;
    letter-spacing: 5px;
    margin-left:30px;
    margin-bottom:0px;
}

h2 {
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 10px;
}

input {
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #6272a4;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #6272a4;
    color: #f8f8f2;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #44475a;
}

#meaning {
    margin-bottom: 10px;
}

#history {
    margin-bottom: 10px;
}

#facts {
    margin-bottom: 10px;
}

#iconic-lines {
    margin-bottom: 10px;
}

.lyrics-inline {
    white-space: pre-wrap; 
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
}

.selected {
    font-weight: bold;
    color: #50fa7b;
}

.lyrics-container {
    display: flex;
}

.left-column {
    flex: 1;
}

.right-column {
    flex: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding: 20px;
}

.search-bar {
    margin-top: 20px;
    padding: 10px;
    width: 90%;
    border: none;
    border-radius: 10px;
    background-color: #44475a;
    color: #ffffff;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .left-column,
    .right-column {
        margin: 0;
    }

    .left-column {
        margin-bottom: 20px;
    }
}