body {
    background-color: #282a36;
    color: #ffffff;
    text-align: justify;
}

h1 {
    font-size: 2.5em;
    color: #50fa7b;
    letter-spacing: 5px;
    margin-left:30px;
    margin-bottom:0px;
}

h2 {
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 10px;
}

input {
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #6272a4;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #6272a4;
    color: #f8f8f2;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #44475a;
}

#meaning {
    margin-bottom: 10px;
}

#history {
    margin-bottom: 10px;
}

#facts {
    margin-bottom: 10px;
}

#iconic-lines {
    margin-bottom: 10px;
}

.left-column {
    flex: 1;
    width: 100%;
  }
  
.right-column {
    flex: 1;
    max-width: 100%;
    align-items: flex-start;
}

.button-container {
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

#image-container {
    width: 100%;
    overflow: hidden; /* Hide any overflow */
  }
  
#tsne-image {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
  
.lyrics-inline {
    white-space: pre-wrap; 
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
}

.selected {
    font-weight: bold;
    color: #50fa7b;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding: 20px;
}

.search-bar {
    padding-top: 20px;
    padding: 10px;
    width: 90%;
    border: none;
    border-radius: 10px;
    background-color: #44475a;
    color: #ffffff;
}

.iconic {
    color: #ff79c6;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .left-column,
    .right-column {
        margin: 0;
    }

    .left-column {
        margin-bottom: 20px;
    }
}