<!DOCTYPE html>
<html>
<head>
    <title>GPTunes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    
    <div class="header">
        <div style="width: 17%;border-right: 2px solid #ffffff;">
            <h1>GPTunes</h1> 
        </div>
        
        <div style="float: left;">
            <p class="slogan">Unleash musical wonders</p>
        </div>

        <div class="button-container">
            <a href="/" class="navigation-button" style="border-left: 2px solid #ffffff;"><button class="navigation-button">Lyrics</button></a>
            <a href="/album-embedding" class="navigation-button"><button class="navigation-button">Album embedding</button></a>
        </div>
    </div>
    
    <div class="grid-container">
    
        <div class="left-column">
            <form action="/search-albums" method="GET">
                <input type="text" name="query-album-1" placeholder="Search album 1"
                       class="search-bar" value="{{ album_1_name }}">
                <input type="text" name="query-album-2" placeholder="Search album 2"
                       class="search-bar" value="{{ album_2_name }}">
                <button class="other-button">Search</button>
                <form action="/make-embedding">
                    <button id="make-embedding-button" class="other-button">Make embedding</button>
                </form>
                <p>Search status: {{ search_status }}</p>
            </form>
        </div>
        
        <div class="right-column">
            <div id="image-container"></div>
        </div>

    </div>
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#make-embedding-button').click(function(e) {
                $('#make-embedding-button').text("Loading embedding...");
                e.preventDefault();
                $.ajax({
                    url: '/make-embedding',
                    type: 'POST',
                    success: function(response) {
                        var imgElement = document.createElement('img');
                        imgElement.src = 'static/images/tsne.png';
                        imgElement.id = 'tsne-image';
                        var imageContainer = document.getElementById('image-container');
                        imageContainer.appendChild(imgElement);
                        $('#make-embedding-button').text("Make embedding");
                    }
                });
          });
        });

    </script>

</body>
</html>
