<!DOCTYPE html>
<html>
<head>
    <title>GPTunes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="header">
        <div style="width: 17%;border-right: 2px solid #ffffff;">
            <h1>GPTunes</h1> 
        </div>

        <div class="button-container">
            <a href="/" class="navigation-button" style="border-left: 2px solid #ffffff;"><button class="navigation-button">Lyrics</button></a>
            <a href="/album-embedding" class="navigation-button"><button class="navigation-button">Album embedding</button></a>
        </div>
    </div>

    <div class="grid-container">

        <div style="margin-top: 20px;">
            <form action="/" method="GET">
                <input type="text" name="query" placeholder="Search song"
                       class="search-bar" value="{{ search_query }}">
                <button class="other-button">Search</button>
            </form>
        </div>

        <div>
            <p>Welcome to GPTunes! How to use: search for a song and select a lyric.
               Wait a few seconds for the AI to generate the content. Don't forget
               that AIs are not perfect, so the content may not be 100% accurate.
            </p>
        </div>
        
        <div id="lyrics"></div>
        
        <div>
            <h2>The meaning of the line:</h2> 
            <div id="meaning">Select a line to get started.</div>

            <h2>The history behind the tune:</h2> 
            <div id="history">Loading...</div>

            <h2>Fun facts about the tune:</h2> 
            <div id="facts">Loading...</div>

            <h2>Most iconic lines:</h2> 
            <div id="iconic-lines">Loading...</div>
        </div>

    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="static/main.js"></script>

</body>
</html>